.ym-tc { background-color:#FC3; height:25px;line-height:25px; border:1px solid #fff; overflow:hidden;}

.ym-ttc{height:3px}
.ym-header-text{font-size:12px;font-weight:bold;color:#861A1A;margin-left:5px;float:left}
.ym-header-tools{float:right;}
.ym-header-tools strong{display:none}

.ym-mc{ background-color:#FC6; border:1px solid #fff; border-top:0; }
.ym-body{overflow:auto;padding:0;font-size:12px;}

/*button*/
.ym-btn{text-align:center}

/*footer*/
.ym-bc{ background-color:#fff;height:1px;font-size:3px}

/*icon*/
.ymPrompt_alert { padding-left:90px; background:url(../images/tc/info.gif) no-repeat 20px 50%;}
.ymPrompt_succeed { padding-left:90px; background:url(../images/tc/yes.png) no-repeat 25px 45%;}
.ymPrompt_error { padding-left:90px; background:url(../images/tc/no.png) no-repeat 25px 45%;}
.ymPrompt_confirm{
	padding-left:90px;
	background:url(../images/ask.gif) no-repeat 20px 50%
}
/*图标公共定义*/
.ymPrompt_alert .ym-content,.ymPrompt_succeed .ym-content,.ymPrompt_error .ym-content,.ymPrompt_confirm .ym-content { padding-top:35px; padding-right:30px; line-height:21px; text-align:center;}
.qqjoin{ display:block; float:left; margin-top:10px; margin-left:15px; width:90px; height:22px;}

/*特殊按钮*/
.zbjoin{  width:70px; height:22px;}
.zbjoin >img{display: inline-block;}

.ym-header-tools div { float:left; width:30px; height:20px; cursor:pointer;margin:3px 3px 0 0; background:url(../images/tc/ico.jpg) no-repeat center center;}
.ym-header-tools div:hover { background:url(../images/tc/ico_h.jpg) no-repeat center center;}


/*取消确认按钮样式*/
input.btnStyle{
	background:url(../images/tc/btn_bg.gif) no-repeat;
	width:80px;height:21px;line-height:21px;
	font-size:12px;color:#183C94;border:0;margin:10px 0
}