 @charset "gb2312";
* { margin:0px; padding:0px; list-style-type:none; font-family:simsun; }
body { font-size:12px; }
a { color:#000; text-decoration:none; outline:none; }
a img { border:none; }
a:hover { color:#ff0000; text-decoration:none; }

.game { width:1000px; height:auto; text-align:center;}

#turn { width:644px;height:498px;}
#turn table td { width:214px; height:166px; text-align:center; vertical-align:middle; color:#333;}
#turn table td img { width:194px; height:146px; border:9px solid #cecece;}
#turn table td img.active { border-color:#ce0000;}
#turn table td a { display:block; width:212px; height:112px; padding-top:50px; background:url(../images/0.jpg) no-repeat center top; font-size:30px; color:#fff; font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"����";}
#turn table td a:hover { color:#FF6; background:url(../images/0_hover.jpg) no-repeat center top;}
#bg { font-size:30px; font-weight:bold;color:#fff; font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"����";}
#turn table td a:hover #bg { color:#FF6;}

#count { font-size:20px; line-height:30px;}

#link { width:100px; height:100px; background-color:#09C; cursor:pointer;}
#meg { display:none; width:337px; height:328px; background:url(../images/132.jpg) no-repeat center top; top:31%;left:40%; position: fixed; z-index:100; padding-top:53px;}
#meg h1{ font-size:28px; color:#2b2b2b;font-weight:bold; width:337px; text-align:center;}
#meg ul { margin:30px auto; width:230px; height:80px; text-align:center;}
#meg ul li { margin-top:15px; display:inline-block; float:left; width:230px; height:25px; overflow:hidden;}
#meg ul li span { float:left; width:50px; height:30px; line-height:23px; overflow:hidden; font-size:16px;}
#meg ul li input { float:right; width:143px; height:20px; padding-left:5px; line-height:20px; border:2px solid #7D7B7B; color:#000; overflow:hidden; padding-right: 27px;}
#meg p { width:50px;} 
#sub { width:160px; height:50px; background-color:#dd2e2e; cursor:pointer; margin: 0 auto; text-align:center;}
#sub span{ font-size:16px; color:#f6f5f2; width:160px;      line-height: 50px;}
#sub:hover{ background-color:#a61111;}




.meng {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,.8);
	display:none;
	z-index:99
}



#flash{
	position:relative;
}

#flash .item{position:absolute}























.roll { position:absolute; left:803px; top:158px; width:61px; height:61px; background:url(../images/roll1.jpg) no-repeat center center; cursor:pointer; z-index:4000; overflow:hidden;}
.roll_mask { display:none; position:absolute; left:803px; top:158px; width:61px; height:61px; z-index:6000; cursor:pointer; overflow:hidden;}

#person { position:absolute; left:680px; top:60px; width:60px; height:60px; background:url(../images/person.png) no-repeat center center; z-index:2000; overflow:hidden;}
.k { position:absolute; z-index:1000; overflow:hidden;}
.k span { display:block; font-size:14px; color:#fff0d5; line-height:20px; overflow:hidden;}
#k1 { left:620px; top:60px; width:58px; height:59px; border-left:1px solid #c9b468; border-top:1px solid #c9b468; border-right:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k2 { left:620px; top:120px; width:58px; height:59px; border-left:1px solid #c9b468; border-top:1px solid #c9b468; border-right:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k3 { position:absolute; left:620px; top:180px; width:58px; height:48px; padding-top:10px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_event_h.jpg) no-repeat center center;}
#k4 { left:560px; top:180px; width:60px; height:58px; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k5 { left:500px; top:180px; width:58px; height:58px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k6 { left:500px; top:120px; width:58px; height:50px; padding-top:10px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; background:url(../images/road_event_w.jpg) no-repeat center center;}
#k7 { left:500px; top:60px; width:58px; height:58px; border-left:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; border-right:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k8 { left:440px; top:60px; width:59px; height:48px; padding-top:10px; border-left:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_event.jpg) no-repeat center center;}
#k9 { left:380px; top:60px; width:59px; height:58px; border-left:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k10 { left:320px; top:60px; width:60px; height:48px; padding-top:10px; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_event_h.jpg) no-repeat center center;z-index:1000; overflow:hidden;}
#k11 { left:260px; top:60px; width:58px; height:58px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k12 { left:260px; top:120px; width:58px; height:50px; padding-top:10px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; background:url(../images/road_event_y.jpg) no-repeat center center;}
#k13 { left:260px; top:180px; width:58px; height:58px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k14 { left:320px; top:180px; width:60px; height:48px; padding-top:10px; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_event_h.jpg) no-repeat center center;}
#k15 { left:380px; top:180px; width:58px; height:58px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center; z-index:1000; }
#k16 { position:absolute; left:380px; top:240px; width:58px; height:60px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center; z-index:1000; }
#k17 { left:380px; top:300px; width:58px; height:48px; padding-top:10px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_event.jpg) no-repeat center center;}
#k18 { left:320px; top:300px; width:60px; height:58px; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k19 { left:260px; top:300px; width:58px; height:48px; padding-top:10px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_event_y.jpg) no-repeat center center;}
#k20 { left:200px; top:300px; width:60px; height:58px; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k21 { left:140px; top:300px; width:58px; height:58px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k22 { left:140px; top:360px; width:58px; height:60px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k23 { left:140px; top:420px; width:58px; height:58px; border-left:1px solid #c9b468; border-right:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_pt.jpg) no-repeat center center;}
#k24 { left:80px; top:420px; width:59px; height:48px; padding-top:10px; border-left:1px solid #c9b468; border-top:1px solid #c9b468; border-bottom:1px solid #c9b468; background:url(../images/road_event.jpg) no-repeat center center;}

#tc { display:none; position:absolute; left:275px; top:110px; width:450px; height:300px; background-color:#44230c; border:1px solid #6a410c; z-index:7000; overflow:hidden;}
/*.close{ display:none; position:absolute; right:0px; top:0px; width:50px; height:30px; font-size:16px; color:#FFF; background-color:#c47e10; line-height:30px; cursor:pointer; z-index:7500; overflow:hidden;}*/

.num { position:absolute; left:775px; top:280px; width:150px; height:25px; text-align:left;}
.num span { display:block; width:150px; height:25px; font-size:18px; color:#fff0d5; line-height:21px;}

.q { height:280px; padding-left:50px; padding-right:50px; padding-top:20px; font-size:14px; color:#ffeab3;}
.q h2 { text-align:center; font-size:20px; line-height:40px;}
.q p { text-align:left;; line-height:21px; padding-top:10px;}
.q a { display:block; margin:0 auto; width:101px; height:30px; line-height:30px; text-align:center; background:url(../images/tj_bg.jpg) no-repeat center center; color:#e8cb9e;}
.q a:hover { color:#ffffff;}
#tb { position:absolute; left:320px; top:120px; color:#cc000a; font-size:20px; line-height:28px; font-weight:bold;}
label { display:block; margin-top:5px; height:20px; cursor:pointer; line-height:22px; line-height:24px\9; font-size:12px; text-shadow:0 -1px 0 rgba(0,0,0,.2); text-align:left; overflow:hidden;}
.label_radio { width:150px; height:20px; padding-left:35px; padding-right:30px; font-size:12px; background:url(../images/checkbox_out.jpg) no-repeat 10px 4px;}
.radio_on { background:url(../images/checkbox_in.jpg) no-repeat 10px 4px; }
.label_radio input { position:absolute; left:-9999px; overflow:hidden; }

.x { height:280px; padding-left:50px; padding-right:50px; padding-top:20px; font-size:14px; color:#ffeab3;}
.x h2 { text-align:center; font-size:20px; line-height:40px;}
.x p { text-align:left;; line-height:21px; padding-top:10px;}
.x a { color:#F00;}
.x a:hover { color:#900;}

.b { height:280px; padding-left:50px; padding-right:50px; padding-top:20px; font-size:14px; color:#ffeab3;}
.b h2 { text-align:center; font-size:20px; line-height:40px;}
.b p { text-align:left;; line-height:21px; padding-top:10px;}


.bx { position:absolute; z-index:5000; overflow:hidden;}
.bx a { display:block;}
.bx span { font-size:14px; color:#fff0d5;}
#bx1 { left:560px; top:400px; width:90px; height:105px; background:url(../images/bx1.png) no-repeat center top;}
#bx1 a { width:90px; height:70px;}
#bx1 span { line-height:40px;}
#bx2 { left:660px; top:385px; width:90px; height:120px; background:url(../images/bx2.png) no-repeat center top;}
#bx2 a { width:90px; height:85px;}
#bx2 span { line-height:40px;}
#bx3 { left:770px; top:365px; width:110px; height:140px; background:url(../images/bx3.png) no-repeat center top;}
#bx3 a { width:110px; height:105px;}
#bx3 span { line-height:40px;}

.bx_mask { position:absolute; z-index:6000; overflow:hidden;}
#bx1_mask { left:560px; top:400px; width:90px; height:105px;}
#bx2_mask { left:660px; top:385px; width:90px; height:120px;}
#bx3_mask { left:770px; top:365px; width:110px; height:140px;}

.box { height:280px; padding-left:50px; padding-right:50px; padding-top:20px; font-size:14px; color:#ffeab3;}
.box h2 { text-align:center; font-size:20px; line-height:40px;}
.box p { text-align:left;; line-height:21px; padding-top:10px;}
.box a { color:#F00;}
.box a:hover { color:#900;}
.ziliao { padding-top:50px; height:70px;}
.ziliao_con { float:left; width:200px; overflow:hidden;}
.ziliao_con ul { line-height:0;}
.ziliao_con ul li { display:inline-block; float:left; width:200px; height:35px; overflow:hidden;}
.ziliao_con ul li span { display:inline-block; float:left; width:50px; height:20px; padding:0; line-height:24px; color:#b99463; overflow:hidden;}
.ziliao_con ul li input { float:right; width:141px; height:20px; padding-left:5px; line-height:18px; border:1px solid #CCC; overflow:hidden;}
.ziliao_tj { float:right; width:130px; height:58px; background-color:#8b4907;}
.ziliao_tj a { display:block; width:130px; height:58px; color:#ffeab3; font-size:20px; line-height:60px;}
#zjxx { position:absolute; left:290px; top:80px; width:100px; height:30px; color:#f00; font-weight:bold;}


