@charset "utf-8";
/* CSS Document */


.fixed{position:fixed;display:none;_display:block;_position:absolute;left:expression(eval((document.documentElement.clientWidth-this.offsetWidth)/2));top:expression(eval(document.documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2))}


.table02{ margin:10px auto 0 auto; overflow:hidden;height: 86px;}
.table02 th,.table02 td{ padding:5px 0; height: 33px; line-height: 33px; float:left; text-align:left}
.table02 th{ width:20%; font-family: "微软雅黑"; font-size: 16px; color:#333333; font-weight:bold; text-align:right;margin-right: 10px;}
.table02 input{width:231px; height:33px; padding:0 5px; line-height:33px; margin-right:5px; color: #363636;background: #dbdbdb;border: 0 none;}
.table02 a{ color:#42115f; text-decoration:underline}

.zc_dl{padding-top:53px; width:381px; height:284px;z-index: 9999; background: rgba(0, 0, 0, 0) url("../images/132.jpg") no-repeat scroll center top;    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -235px;}

.zc_dl h1 {
    color: #2b2b2b;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    width: 381px;
}

.dlk_t{width:381px; height:20px;  float:left;position: relative;}
.dlk_t span a{ width:30px; height:20px; display:block;background: url(../images/ico_h.jpg) no-repeat;position: absolute;top:-45px;right: 10px;}
.dl_c{ width:381px; float:left; }
.dl_b{ width:381px; height:40px; line-height:40px; text-align:center; overflow:hidden; float:left; color:#000; }
.bnt_dl a{ background:url(images/btn_sc.jpg) no-repeat; width:74px; height:28px; line-height:28px; color:#fff; display:block; float:left; margin-left:15px;}
.bnt_dl{ padding-left:100px; padding-top:10px;}
.center{ text-align: center; margin-top: 15px;}
.center a{display: block;width: 100px;height: 30px;text-align: center;line-height: 30px;background: #dd2e2e; color: #fff;margin: 15px auto;}
.center a:hover{
	background:#a61111
}

.dn{
	display:none;
}



/*抽奖*/
#flash{width:530px; height: 397px;float: left;}
#flash a{display: block;}
#lottery .items{float:left;width:200px;height:150px;position:absolute;}
#lottery .boxprod{position:relative;width:191px;height:143px;overflow:hidden;}
#lottery .boxprod .img{position:absolute;z-index:1;left:0;top:0;}
#lottery .boxprod .title{text-align:center;color:#8c5e49;font-weight:bold;position:absolute;top:32px;left:0;width:194px;z-index:2;}
#lottery .drawbtn{float:right;margin:50px 50px 0 0;}
#lottery .drawbtn:hover{opacity:0.9;}
#lottery .inner{position:absolute;top:0;width:166px;height:122px; border: 8px solid #4f4e4f; z-index: 3; }
#lottery .cur{border-color: #cf1125;}

#lottery{width:530px; height: 397px;position:relative; text-align: left;border:10px solid  #1c1c1d;border-right-width:4px;background-color: #1c1c1d;}
.drawprod0{positon:absolute;top:161px;left:0;background: url(../images/xx1.jpg) no-repeat left center}
.drawprod1{positon:absolute;top:0;left:0;background: url(../images/1.jpg) no-repeat left center}
.drawprod2{positon:absolute;top:0;left:209px; background: url(../images/3.jpg) no-repeat left center}
.drawprod3{positon:absolute;top:0;left:418px; background: url(../images/2.jpg) no-repeat left center}
.drawprod4{positon:absolute;top:161px;left:418px; background: url(../images/xx1.jpg) no-repeat left center}
.drawprod5{positon:absolute;top:322px;left:418px; background: url(../images/5.jpg) no-repeat left center}
.drawprod6{positon:absolute;top:322px;left:209px; background: url(../images/prize5.jpg) no-repeat left center}
.drawprod7{positon:absolute;top:322px;left:0; background: url(../images/2.jpg) no-repeat left center}


.startBtn{position: absolute; left:209px;top:161px;cursor: pointer;background: url(../images/0.jpg) no-repeat;text-align: center;
    padding:36px  8px 8px;
    color: #fff;}
.lightOff{
	display:none !important;
}

/*抽奖结果*/
#lose,#success{z-index: 9999; width: 350px; height: 190px;}
#success{
	background: url(../images/yes.png) no-repeat 20px 85px #fc6;
}
#lose{
	background: url(../images/no.png) no-repeat 20px 80px #fc6;
}
.tt{
	background-color: #fc3;
    border: 1px solid #fff;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
	color: #861a1a;
    font-size: 12px;
    font-weight: bold;
    padding: 0 5px;
}
#success p{color: #fff;text-align: center;display:inline;color:#f00;}
#lose p{
	color: #f00;
    font-size: 18px;
    font-weight: bold;
    padding-top: 75px;
    text-align: center;
}
.nr{
	text-align:center;
	padding: 30px 50px;
}

.close a {float: right; display: inline-block; height: 20px; width: 30px; background: url(../images/ico_h.jpg) no-repeat; margin:3px -2px}
